<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="building">
        <div class="floor">
            <div class="window">1</div>
            <div class="window">2</div>
            <div class="window">3</div>
        </div>
        <div class="floor">
            <div class="window">4</div>
            <div class="window">5</div>
            <div class="window">6</div>
        </div>
        <div class="floor">
            <div class="window">7</div>
            <div class="window">8</div>
            <div class="window">9</div>
        </div>
        <div class="ground-floor">
            <div class="door">10</div>
            <div class="door">11</div>
        </div>
    </div>
</body>
</html>